[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.1.11"
django-environ = "*"
django-memoize = "*"
django-model-utils = "*"
django-redis = "*"
django-typogrify = "*"
gunicorn = "*"
psycopg2-binary = "*"
pytz = "*"
redis = "*"
unicode-slugify = "*"
whitenoise = "*"
djangorestframework = "*"

[dev-packages]
django-extensions = "*"
werkzeug = ">=0.15.3"
"flake8" = "*"
"flake8-docstrings" = "*"
"flake8-import-order" = "*"
flake8-black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
