{% extends "base.html" %}
{% load static %}
{% load typogrify_tags %}
{% load quips_extras %}

{% block title %}Quipped on {{ object.date}}{% endblock %}

{% block navbar %}{% endblock navbar %}
{% block content %}
{% autoescape off %}
<div>
  <div class="row">
    <div class="quip">
      {% for quote in object.quotes.all %}
      {% if quote.is_slash_me %}
      <blockquote class="action">
        <p>
          {% if quote.speaker.should_obfuscate %}
          {{ quote.speaker.name|obfuscate_name }}
          {% else %}
          {{ quote.speaker.name }}
          {% endif %}
          {{ quote|typogrify }}
        </p>
      </blockquote>
      {% else %}
      <blockquote>
        <p>{{ quote|typogrify }}</p>
        <footer class="text-right"><cite>
          {% if quote.speaker.should_obfuscate %}
          {{ quote.speaker.name|obfuscate_name|typogrify }}
          {% else %}
          {{ quote.speaker.name|typogrify }}
          {% endif %}
        </cite></footer>
      </blockquote>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <p class="text-center quip-date">
    {{ object.date }}
    <a href="{% url 'quips:detail' quip.uuid %}" class="quip-link" title="Permalink to this quip"><span class="glyphicon glyphicon-link"></span></a>
  </p>
  {% if object.context %}<p class="text-center quip-context">{{ object.context|typogrify }}</p>{% endif %}
</div>
{% endautoescape %}
{% endblock content %}

{% block footer %}
<a href="{% url 'quips:random' %}"><span class="glyphicon glyphicon-fire randomizer"></span></a>
{% endblock footer %}

